.login-main{

    fieldset{
        padding: 50px;
        width: 50%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
    
        label, button, input{
            padding: 15px;
        }
    
    }
    
    button{
        margin-top: 15px;
        display: block;
        padding: 15px;
        text-align: center;
        justify-content: center;
        margin: auto;
        
        
        
        
    }
    
    button:hover{
        background-color: red;
        transition: 1s;
    }
    
    .bt{
    
        p{
            text-align: center;
            padding-top: 146px;
            padding-bottom: 10px;
        }
    }


    @media only screen and (max-device-width: 900px) {
        

        h1{
            font-size: 20px;
            text-align: center;
        }
        /* .menu { width:100%; } */
    }
    @media only screen and (max-device-width: 700px) {
        

        h1{
            font-size: 18px;
            text-align: center;
        }
        /* .menu { width:100%; } */
    }
    @media only screen and (max-device-width: 500px) {
        

        h1{
            font-size: 16px;
            text-align: center;
        }
        /* .menu { width:100%; } */
    }
    

}    
